.main-info {
    /*Sección del encabezado*/
    padding: 200px 0 0 16.5%;

    h1 {
        /*Encabezado*/
        font-size: 64px;
        font-family: $font-sans;
        color: #060A24;
        padding-right: 8.25%;
  
        .world {
            text-decoration: line-through;
        }

        .dot {
            color: #0000EC;
        }
    }

    p {
        /*Subtítulo*/
        font-size: 16px;
        font-family: $font-mono;
        width: 60%;
    }

    .btn { 
        /*Ajustando el botón*/
        margin-top: 56px;
    }
}

@media(max-width: 690px){
    .main-info {
        padding: 200px 8.25% 0 8.25%;
    }
}

@media(max-width: 655px){
    .main-info .btn {
        width: 100%;
    }
}

@media(max-width: 425px){
    .main-info {
        padding: 120px 8.25% 0 8.25%;

        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
            width: 100%;
        }

        .btn { 
            font-size: 16px;
        }
    }
}